h3 {
    color: #ca8ccb; 
    font-size: 34px; 
    font-family: Georgia, sans-serif; 
    font-weight: bold; 
    text-align: center;
}

h1 {
    color: #7f6d7f;
    text-align: left;
    font-size: 28px;
    font-family: "Georgia", serif;
}