h1 {
    color: #e7a1e8; 
    font-size: 34px; 
    font-family: Georgia, sans-serif; 
    font-weight: bold; 
    text-align: center;
}

.menu-item {
    color: #7f6d7f;
    text-align: left;
    font-size: 26px;
    font-family: "Georgia", serif;
}