body {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    padding: 20px;
    max-width: 800px; 
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.button-container {
    margin-top: 20px;
}

.button-link {
    text-decoration: none;
}

.main-button {
    font-size: 25px;
    background-color: #e59866; 
    color: #a52a2a; 
    border-radius: 25px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.main-heading {
    color: #d19b54; 
    margin-top: 20px;
}

.main-image {
    height: 200px;
    margin-top: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

video {
    margin-top: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

h3 {
    color: #ca8ccb; 
    font-size: 34px; 
    font-family: Georgia, sans-serif; 
    font-weight: bold; 
    text-align: center;
}

h1 {
    color: #7f6d7f;
    text-align: left;
    font-size: 28px;
    font-family: "Georgia", serif;
}

.menüü {
    background-color: #efd8ef;
    text-align: left;
}

